.btn-submit {
  background-color: #308530;
  border: none;
}

.btn-submit:hover {
  background-color: #6da869;
}
.btn-cancel{
  background-color: #9742ce;
  border: none;
}

.btn-cancel:hover {
  background-color: #912dd0;
}
