.no-border-input {
  border: 2px solid black; /* Set border color to black */
  border-radius: 5px; /* Optionally, remove border radius */
  box-shadow: 2px 1.5px 5px; /* Optionally, remove box shadow */
}
