#sidebar {
  height: 100%;
  width: 100%;


  #menu {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-left: 20px;
    padding-top: 100px;
    a{
      text-decoration:none ;
      coolor: #333;
      padding: 15px;
      border-bottom: 1px solid #cccccc;
      &:hover{
        background-color: #eee;
      }
    }
  }
}


