/////* You can add global styles to this file, and also import other style files */
////
////
////.card {
////  width: 600px;
////  hiight:600px;
////  justify-content: center;
////  border-radius: solid black 2px;
////}
////
////.form-group {
////  margin-bottom: 1rem;
////}
////
////.btn-primary {
////  margin-top: 1rem;
////}
form.form-fields-group .form-field {
  margin: 20px 0;
}
.sb_input {
  border: 2px solid #e1e5ee;
  border-radius: 0.3rem;
  font-family: inherit;
  font-size: inherit;
  color: black;
  outline: none;
  padding: 0.5rem;
  background: none;
}
.text-danger {
  --bs-text-opacity: 1;
  color: rgba(var(--bs-danger-rgb), var(--bs-text-opacity)) !important;
}
.sb_floating_label {
  position: absolute;
  left: 1rem;
  top: -1rem;
  padding: 4px 0.5rem;
  color: black;
  font-size: 0.8rem;
  //cursor: text;
  //transition: top 200ms ease-in, left 200ms ease-in, font-size 200ms ease-in;
  background-color: white;
}
@media only screen and (max-width: 768px) {
  .sb_floating_label {
    top: -1.8rem;
  }
}
/* You can add global styles to this file, and also import other style files */
body {
  background: #eee;
}

#side_nav {
  background: #ffffff;
  min-width: 250px;
  max-width: 250px;
  border-radius: 5px;
  border-color: plum;
  border-style: solid;

}

.content {
  min-height: 100vh;
  width: 100%;
  background: #ffffff;
}

.sidebar li.active {
  background: #eee;
  border-radius: 8px;
}

.sidebar li.active a, .sidebar li.active a:hover {
  color: #000;
}

.sidebar li a {
  color: #1f1717;
}

@media (max-width: 767px) {
  #side_nav {
    margin-left: -250px;
    position: fixed;
    min-height: 100vh;
    z-index: 1;
  }

  #side_nav.active{
    margin-left: 0;
  }
}

.form-group {
  padding: 10px;
}
.footer {
  position: fixed;
  margin-left: 0%;
  bottom: 0;
  width: 100%;
  background-color: #ffffff;
  color: #2b2b2c;
  text-align: center;
}
.card-body{
  align-items: center;
  border-radius: 25px;
  background: #ffffff;
  padding: 20px;
  width: 500px;
  margin-left: 50%;
  //height: 150px;
  //margin-left: 30%;
  //margin-top: 10%;
  //width: 50%;
  //margin-right: 10%;
}

