.btn-submit {
  background-color: #308530;
  border: none;
}

.btn-submit:hover {
  background-color: #6da869;
}
.btn-cancel{
  background-color: #9742ce;
  border: none;
}

.btn-cancel:hover {
  background-color: #912dd0;
}
.no-border-input {
  border: 2px solid black; /* Set border color to black */
  border-radius: 5px; /* Optionally, remove border radius */
  box-shadow: 2px 1.5px 5px; /* Optionally, remove box shadow */
}
